*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.form-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(31, 34, 34));
   
    
}

.box-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 32);
    border-radius: 5px;
    border: 2px solid;
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 20px #171616;
    color: white;
    
}

.box-size h2{
    font-size: 3em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 400px;
    height: 50px;
    border-bottom: 2px solid white ;
    margin: 30px 0;
    color: white;
    font-size: 1.1em;
}

.input-box label{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s ease;
}

.input-box input{
    outline:none;
    background: transparent;
    border: none;
    width:100%;
    height: 100%;
    font-size:1.1em;
    color:rgb(255, 255, 255);
    
}

.input-box input:focus ~label,
.input-box input:not(:placeholder-shown) ~label{
  top: -5px;
}

.btn-entry{
    height: 50px;
    width: 400px;
    font-size: 1.1em;
    font-weight: 100;
    border:none;
    outline:none;
}

.btn-entry:hover{
    background: rgb(12, 199, 12);
    box-shadow: 20px 20px 30px rgb(33, 60, 33);
}

@media screen and (max-width: 550px){

    .box-size{
        flex-wrap: wrap;
        width:95%;
        height: 500px;
       
        
    }
    .input-box{
        margin: 50px 5px;
        width: 100%;
        height: 50px;
    }

    .btn-entry{
        height:50px;
        width:100%;
    }

}

@media screen and (max-height: 600px){
    .box-size{
        flex-wrap: wrap;
        width:70%;
        height: 80%;
     
    }

    .input-box{
        margin: 20px 5px;
        width: 600px;
        height: 50px;
    }
    .btn-entry{ 
        width:100%;
        height:50px;
    }
}