*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navigation{
    display: flex;
    height: 50px;
    background-image: linear-gradient(30deg, #3faef1 30%, blue 100%);
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.Helper{
    display:flex;
    gap: 50px;
    justify-content: space-between;
}
.Helper a{
    color: rgb(195 221 248);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 100;
}