*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images.jpg");
    background-size:100% 800px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}